.login-container {
    gap: 5px;
    display: grid;
    place-items: center;
    justify-content:center;
    border-radius: 40px;
    background-color: #D5F3FE;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 40px;
}


.login-root {
    height: 5vh;
    display: grid;
    place-items: center;
}
