.setting-container {
    gap: 5px;
    display: grid;
    place-items: center;
    justify-content:center;
    border-radius: 40px;
    background-color: lavenderblush; 
    margin-top: 10px;
    margin-bottom:0px;
    padding: 40px;
}

.setting-root {
    height: 5vh;
    display: grid;
    place-items: center;
}





