.setting-container {
    gap: 10px;
    display: grid;
    place-items: left;
    border-radius: 40px;
    background-color: white; 
    margin: 20px;
    padding: 50px;
}

.setting-root {
    height: 10vh;
    display: grid;
    place-items: left;
    text-align: left;
}


.header {
    background-color: white;      
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*text-align: center;*/
    }

h1 {
    color: rgb(44, 30, 59);
    /*margin-left: 40px;*/
} 


img.a {
    vertical-align: baseline;
  }

.column1 {    
    float: left;
    width: 30%;
    padding: 30px;
    height: 460px; /* Should be removed. Only for demonstration */
    }