body {
  background-color: #D5F3FE; /* #FFFFE0 */
  /*font-family: 'Lucida Console', Monospace;*/
  font-family: "Gill Sans", sans-serif;
}

h1 {
  color: rgb(44, 30, 59);
  /*margin-left: 40px;*/
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.header {
background-color: #D5F3FE;      
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
/*text-align: center;*/
}



.container {
  position: relative;
  text-align: left;
  color: SteelBlue;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:SteelBlue;
}


.footer {
background-color: Aliceblue;
font-size: 14px;
padding: 1px;
text-align: center;
margin-top:380px;
}

p.one {
border-left: 6px solid #D5F3FE;
background-color: ghostwhite;
}
