.message-container {
    gap: 10px;
    display: grid;
    place-items: left;
    border-radius: 40px;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    padding: 50px;
}

.message-root {
    height: 100vh;
    display: grid;
    place-items: left;
}

.header {
    background-color: #D5F3FE;      
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*text-align: center;*/
    }

h1 {
    color: rgb(44, 30, 59);
    /*margin-left: 40px;*/
} 

.column1 {    
    float: left;
    width: 30%;
    padding: 30px;
    height: 460px; /* Should be removed. Only for demonstration */
    }