.signup-container {
    gap: 5px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    /* background-color: lavenderblush; */
    background-color:513214;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 40px;
    
}

.signup-root {
    height: 5vh;
    display: grid;
    place-items: center;
}

